
#chk{
	display: none;
}
.login{
	position: relative;
	width:100%;
	height: 100%;
}
label{

	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
}
input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 10px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
	font-family: 'Playfair', sans-serif;
	
}

#chk:checked ~ .signup label{
	transform: scale(1);	
}
#chk:checked ~ .login label{
	transform: scale(.6);
}
input[type="date"] {
  color: grey; 

}