$buttonColor: rgb(158, 138, 152);
body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Playfair', sans-serif;
	background: linear-gradient(to bottom, #2c1226, #99537a, #500332);
}
label{
	display: flex;
	font-weight: bold;
	cursor: pointer;
}
#login-button {
  background-color: $buttonColor;
  border: none;
  color: rgb(0, 0, 0);
  margin-top: 10px;
}
#page-headers{
 color: rgb(238, 232, 232);
 font-weight: bolder;
}
#page-labels{
	color: rgb(238, 232, 232);
	font-weight: bolder;
 }